@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-tts{
  overflow: hidden;
  background-image: linear-gradient(to right,rgb(5, 83, 156),rgb(1, 7, 50),rgb(5, 83, 156));
}

.bg-login{
  overflow: hidden;
  background-image: linear-gradient(to right,rgb(11, 13, 16),rgb(1, 7, 50),rgb(6, 11, 15));
}

body{
  font-family: 'Inter',sans-serif;
}
